.bookcontainer{
    width: 500px;
    height: 500px;
    text-align: center;
    padding: 20px 0;
    box-shadow: 2px 2px 15px  rgba(78, 78, 78, 0.3) , -2px -2px 15px  rgba(73, 73, 73, 0.3) ;
    backdrop-filter: 15px;
    border-radius: 20px;
    background: linear-gradient(360deg,white,rgba(255, 255, 255, 0.6));
    margin: 50px auto;
  
    & h1{
      padding-bottom: 20px;
      margin-bottom: 20px;
    color: rgb(193, 29, 0);
    border-bottom: 1px solid black;
    }
    & .btn{
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 50px;
      margin: 0 auto;
      & button{
        padding: 10px 50px !important ;
        border-radius: 5px;
        border: none;
        background: linear-gradient(360deg,rgba(255, 255, 255, 0.6),rgba(255, 255, 255, 0.6));
    box-shadow: 8px 8px 15px  rgba(78, 78, 78, 0.3) , -4px -4px 15px  rgba(73, 73, 73, 0.3) ;
    color: rgb(193, 29, 0);
        font-size: 18px;
      }
      & button:hover{
        box-shadow: 1px 1px 5px  rgba(78, 78, 78, 0.3) , -1px -1px 5px  rgba(73, 73, 73, 0.3) ;
  
        color: black;
      }
    }
  & .contentcontainer{text-align: left;
    padding: 20px 20px;
    width: 100%;
  
    & label{
      font-size: 25px;
    color: rgb(193, 29, 0);
    font-weight: 700;
  
    }
    & input{
      width: 100%;
      font-size: 20px;
      padding:15px 5px;
      margin: 20px 0;
      border-radius: 5px;
      border: none;
      outline: none;
      background-color:rgba(193, 29, 0, 0.851);
       

    }
  }
    
  }

  @media screen and (min-width:0px) and (max-width:530px) {
    .bookcontainer{
      width: 90%;
    }
    .btn{
      flex-wrap: wrap;
      & button{
        margin-bottom: 20px;
        width: 90%;
      }
    }
  }
 